
<div class="change-password">
  <div class="title" i18n>Change Password</div>
  <div class="sub-title">Use a password at least 8 letters long with both letters and numbers.</div>
  <form class="form" [formGroup]="formGroup" (ngSubmit)="submit()">
    <label>Current Password</label>
    <input i18n-placeholder placeholder="Enter your current password" type="password" name="OldPassword" formControlName="OldPassword">
    @if(currentPassword?.touched && currentPassword?.errors)
    {
      <div class="error-text">Password is not correct</div>
    }
    <label>New Password</label>
    <input i18n-placeholder placeholder="Enter a new password" type="password" name="NewPassword" formControlName="NewPassword">
    @if(newPassword?.touched && newPassword?.errors)
    {
      <div class="error-text">Password is not correct</div>
    }
    <label>Confirm New Password</label>
    <input i18n-placeholder placeholder="Confirm your new password" type="password" name="ConfirmPassword" formControlName="ConfirmPassword">
    @if(confirmPassword?.touched && confirmPassword?.errors)
    {
      <div class="error-text">Password does not match</div>
    }
    <div>
      <button type="submit" class="common-btn"  i18n>Change Password</button>
      <div class="error">{{errorText()}}</div>
    </div>
  </form>
</div>
