@import 'mixins';
:host
{
  width: 100%;
  max-width: 720px;
  display: block;
  padding: 20px;
  margin: 0 auto;
  header
  {
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 1.375rem;
    gap: 5px;
    font-weight: 700;
    .close-button{color: #79859B; margin-left: auto; cursor: pointer}
  }
  main
  {
    margin-top: 5px;
  }
  footer
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
}
@media (max-width: 550px)
{
  .ag-theme-alpine{width: calc(100vw - 40px)!important;}
}
